
.margin-top-10 {
    margin-top: 10px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.bold{
    font-weight: bold
}
.table thead tr th {
    font-weight: bold;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    font-weight: 500;
}
.margin-left-40{
    margin-left: 40px;
}
.control-label{
    color: black;
}
